body{
  background-image: url(https://raw.githubusercontent.com/hacktiv8/phase-0-activities/master/modules/assets/sample-pattern.png)
}

h1{
  color: gray;
  font-size: 50px;
  font-family: 'slabo 27px',serif;
}

.menu li{
  display: inline;
  padding: 10px;
}

#article{
  font-family: 'slabo 27px',serif;
  width: 60%;
  margin: auto;
  background-color: #fff;
  padding : 20px;
}

p{
  font-family: 'slabo 27px',serif;
}

#logo {
  width: 200px;
  height: 55px;
  background-color: white;
  padding: 10px;
}

section{
  margin: auto;
  width: 75%;
  padding: 20px;
  display: block;
  margin-top:100px
}
header nav {
  float:right;
  margin : auto;
  padding: 10px;

}

#header{
  position: fixed;
  top: 0;
  overflow:hidden;
  width:100%;
  background: white;
  z-index: 1;
}

#footer{
  position: relative;
  background: #696969;
  height: 50px;
  line-height: 50px;
  color:#fff;
  text-align:center;
}

section article{
  border-bottom: 1px solid gainsboro;
}
